.container {
  margin: 5rem 0;
}

.post {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  & + li {
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--yellow-500);
    }
  }

  img {
    height: 100px;
    min-width: 180px;
    object-fit: cover;
  }
}